:root{
    --mainFont: font-family: "Mulish", sans-serif;
    --enphasisColor:#038bbb;
    --blackColor: #1f1f1f;
}

.main-sbcontainer{
    
    padding: 1rem;
    margin: 1rem;

    background-color: #ffffff;
    border-radius: 2rem;
    width: 20rem;
    height: 70rem;

    color:#038bbb;

    display: grid;
    grid-template-columns: 4rem, 0fr;
    align-items: center;

    overflow: hidden;
}
.main-sbcontainer img{
    filter: invert(1);
    margin: 0 auto;
}

.main-sbcontainer h2{
    margin: 2rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
.buttons-section{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.buttons-section button{
    border: 0;
    color: rgb(17, 37, 89);
    background-color: transparent;
    font-size: 2rem;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    padding: 1rem;
    border-radius: 1rem;
    transition: all .2s ease;
}
.buttons-section button:hover{
    background-color: #038bbb;
    color: white;
}
.buttons-section button:active{
    transform: scale(1.4);
}
.closebutton button{
    border: none;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
}
.displayoff{
    animation: slideOut 1.2s forwards;
}
.displaton{
    animation: slideIn 1.2s forwards;
}
.menu-button button{
    display: none;
    background-color: var(--blackColor);
    border: 0;
    border-radius: 50%;
    position: fixed;
    left:2rem;
    top: 3rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: var(--mainFont);
    font-weight: 900;
}
.btnmenu{
    display: none;
}
.displayButton{
    display: block;
}
.buttonS img{
    filter: invert(1);
}

@keyframes slideIn {
    from {
      left: -300px; /* Empieza fuera de la pantalla */
    }
    to {
      left: 0; /* Se mueve hasta el borde izquierdo */
    }
  }
@keyframes slideOut {
        from {
          left: 0; /* Empieza visible */
        }
        to {
          left: -300px; /* Se mueve fuera de la pantalla */
        }
}
