<!doctype html>
<html lang="en" class="text-white bg-cover" style="background-image: url('/background.jpg');">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/personal-information.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body class="p-5">
		<slot />
	</body>
</html>

