---
import ListOfTechnologies from "./ListOfTechnologies"
---
<div class="pt-10 max-w-250 m-auto">
    <h2 class="text-3xl font-bold mb-5">Experience</h2>
    <div class="flex flex-col gap-5">
        <div class="card bg-slate-950 p-5 rounded">
            <h2 class=" font-bold text-violet-500 text-2xl italic">Valle Redondo</h2>
            <div>
                Control and verification of orders to be sent to different companies
                as well as inventory control. 
            </div>
        </div>
        <div class="card bg-slate-950 p-5 rounded">
            <h2 class=" font-bold text-violet-500 text-2xl italic">Softtek</h2>
            <div>
                Development and execution of bots created on virtual machines
                in UiPath for automated information management to reduce
                staff time.
                Development and support L1 and L2 for applications developed
                with UiPath with monitoring through Orchestrator and
                implementations requested by the client.

            </div>
        </div>
    </div>
</div>  