---
import DownloadButtons from "./DownloadButtons"
---
<div class="mt-10 ">
    <div class=" flex flex-col m-auto gap-5">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-4xl font-bold">Alan Vazquez</h2>
            <h1 class="text-violet-600 text-2xl">Developer</h1>
        </div>
        <div class="max-w-250 text-center m-auto">
            <p>Professional with experience in process automation with UiPath and training in front-end web development. Interested in opportunities that allow me to contribute technological solutions while continuing to grow in both areas</p>
        </div>
    </div>
    <div>
        <h2 class="text-2xl font-bold mt-10 text-center">Download my resume:</h2>
    </div>
    <div>
        <DownloadButtons client:load/>
    </div>
</div>
