.App {
  text-align: center;
}
:root{
  --MainColor:rgb(223, 109, 3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer{
  display: grid;
  gap: 1rem;
  margin: 3rem auto 2rem auto;
  width: 80%;
  color: white;
}
.footer-section .footer-title{
  font-size: 1.5rem;
  margin: 0;
}
.footer-section .footer-description{
  font-size: .8rem;
  margin: 0;
}
@media (min-width:768px){
   footer{
    grid-template-columns: repeat(3,1fr);
   }
}
.btn-cart{
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  border: 0;
  background-color: var(--MainColor);
  padding: .7rem;
  border-radius: 50%;
  color: white;
  transition: all 2s ease;
}
.btn-cart:active{
  transform: scale(1.5);
}
.cart{
  display: none;
  background-color: white;
  padding: 1rem;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 20rem;
}
.cart-on{
  display: block;
  height: 100%;
  width: 10rem;
}
.btn-area{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.success-cart, .close-cart{
  border: 0;
  padding: .5rem;
  border-radius: .5rem;
  color: white;
}
.success-cart{
  background-color: rgb(36, 104, 75);
}
.close-cart{
  background-color: brown;
}