.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer{
  display: grid;
  gap: 1rem;
  margin: 3rem auto 2rem auto;
  width: 80%;
  color: white;
}
.footer-section .footer-title{
  font-size: 1.5rem;
  margin: 0;
}
.footer-section .footer-description{
  font-size: .8rem;
  margin: 0;
}
@media (min-width:768px){
   footer{
    grid-template-columns: repeat(3,1fr);
   }
}
.btn-cart{
  border: 0;
  background-color: transparent;
  color: white;
  transition: all 2s ease;
}
.btn-cart:active{
  transform: scale(1.5);
}