:root{
    --main-color: #E6324B;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.addMusic-container{
    justify-content: center;
}
.features-section{
    background-color: white;
    border-radius: 1rem;
    width: 35rem;
    margin: 0 auto;
    padding: 1rem;
}
@media(min-width:768px){
    .features-section{
        width: 70rem;
    }
}
.features-section h2{
    font-size: 2rem;
    color: var(--main-color);
    text-align: center;
}
.inputs-container div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.inputs-container div label{
    text-align:left;
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;
}
.inputs-container div button{
    border: 0;
    border-radius: 1rem;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--main-color);
    color: white;
    margin-top: 1rem;
    font-weight: bold;
}
.inputs-container div input{
    background-color: rgb(227, 227, 227);
    border-radius: 1rem;
    border: 0;
    font-size: 1.5rem;
    padding: 1rem;
}
