:root{
    --main-color: #E6324B;
    --subtitle: 3rem;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: rgb(233, 233, 233);
    color: black;
}
.main-title h2{
    margin: 0;
}
.main-title{
    font-size: 3.5rem;
    text-align: center;
    margin-top: 5rem;
    color: #E6324B;
}
.main-description{
    text-align: center;
    font-size: 1.5rem;
}
.features-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.features-title h2{
    text-align: center;
    font-size: var(--subtitle);
}
img{
    width: 100%;
}
.card{
    margin: 0 auto;
    width: 30rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 4rem;
    margin-bottom: 3rem;
}
@media(min-width:480px){
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(min-width: 768px){
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width:1200px){
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
}
.card-title{
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    font-size: 1.5rem;
}
.card-artist{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
}
.card-price{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card-price h2{
    margin: 0;
}
.card-image img{
   border-radius: 1rem;
}
.card-button{
    display: flex;
    justify-content: center;
}
.card-button button{
    border: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    transition: all 0.2s ease;
}
.card-button button:active{
    transform: scale(1.1);
}
.navegacion nav{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    
}
@media(min-width:768px){
    .navegacion nav{
        justify-content: space-evenly;
    }
}
.navegacion nav a{
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    padding: 2rem;
    border-radius: 1rem;
}
.navegacion nav a:hover{
    background-color: var(--main-color);
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 30rem;
    margin: 0 auto;
}
.footer-section h2{
    display: flex;
    justify-content: center;
}

