:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  background-image: linear-gradient(#038bbb);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
}
body{
  margin: 0;
}